page-game {
        ion-title * {
            margin-top: 3vh;
            margin-bottom: 5vh;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-align: center;
        }

        #guess {
            text-align: center;
            margin-bottom: 10px;
            margin-top:15px;
            font-size: 15px;
            font-weight: bold;
        }
        #image {
            text-align: center;
        }
        #shakeMsg {
            text-align: center;
            font-size: 19px;
            font-weight: bold;
        }
}
